[Desktop Entry]
Type=Application
Version=1.0
Name=Sloperino
GenericName=Sloperino
Comment=Chat client for Twitch
Exec=Sloperino
Icon=com.w77hxhx.sloperino
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=chatterino
